<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bau.Applications.BauImageBatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bau.Applications.BauImageBatch.Properties.Settings>
            <setting name="PathTarget" serializeAs="String">
                <value/>
            </setting>
            <setting name="IDFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MustSetSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WidthImage" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="HeigthImage" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MustMaintainRelationImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MustCreateThumbs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WidthThumbs" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HeightThumbs" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PrefixThumbs" serializeAs="String">
                <value>th_</value>
            </setting>
            <setting name="MustMaintainRelationThumbs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MustRename" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NameRename" serializeAs="String">
                <value>Image_</value>
            </setting>
            <setting name="MustCreateWatermarkText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WatermarkFontName" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="WatermarkFontSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="WatermarkFontSizeAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WatermarkText" serializeAs="String">
                <value>Título</value>
            </setting>
            <setting name="WatermarkColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WatermarkAlpha" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="WatermarkTextHorizontal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WatermarkTextVertical" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MustCreateWatermarkImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WatermarkImage" serializeAs="String">
                <value/>
            </setting>
            <setting name="WatermarkOpacity" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="WatermarkImageHorizontal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WatermarkImageVertical" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WatermarkImageTransparent" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ConvertWhiteAndBlack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WhiteAndBlackBright" serializeAs="String">
                <value>False</value>
            </setting>
        </Bau.Applications.BauImageBatch.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
